* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5e4e7;
  font-family: 'Space Mono', monospace;
}

.title {
  color: #5e7a7d;
  text-align: center;
  margin-top: 35px;
  text-transform: uppercase;
}

.splitter {
  background-color: white;
  height: 120vh;
  position: relative;
  margin-top: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.splitter .bill {
  position: relative;
  top: 4%;
  left: 10%;
  width: 83%;
}

.splitter .bill .inputBill {
  width: 100%;
  border: none;
  background-color: #f4fafa;
  border-radius: 5px;
  height: 50px;
  text-align-last: right;
  font-weight: bold;
  color: #5e7a7d;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  padding-right: 10px;
}

.splitter .bill img {
  position: absolute;
  padding: 16px;
}

.splitter .bill p {
  color: #5e7a7d;
  font-weight: bold;
}

.splitter .tip {
  position: relative;
  left: 10%;
  top: 8%;
  width: 83%;
}

.splitter .tip p {
  color: #5e7a7d;
  margin-bottom: 20px;
  font-weight: bold;
}

.splitter .tip .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splitter .tip .buttons .change {
  background-color: #26c0ab;
  color: #00494d;
}

.splitter .tip .buttons button,
.splitter .tip .buttons input {
  width: 45%;
  height: 40px;
  margin-bottom: 23px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  border: none;
  font-size: 23px;
  border-radius: 6px;
}

.splitter .tip .buttons button {
  color: white;
  background-color: #00494d;
}

.splitter .tip .buttons input {
  text-align: right;
  padding-right: 15px;
  background-color: #f4fafa;
}

.splitter .people {
  position: relative;
  left: 10%;
  top: 9%;
  width: 83%;
}

.splitter .people p {
  font-weight: bold;
  color: #5e7a7d;
}

.splitter .people .inputPeople {
  width: 100%;
  border: none;
  background-color: #f4fafa;
  border-radius: 5px;
  height: 50px;
  text-align-last: right;
  font-weight: bold;
  color: #5e7a7d;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  padding-right: 10px;
}

.splitter .people img {
  position: absolute;
  padding: 16px;
}

.splitter .total {
  position: relative;
  left: 10%;
  top: 13%;
  width: 83%;
  color: white;
  font-weight: bold;
  background-color: #00494d;
  border-radius: 8px;
  padding: 20px;
}

.splitter .total .tipPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splitter .total .tipPerson .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splitter .total .tipPerson .text .grey {
  color: #7f9c9f;
}

.splitter .total .tipPerson .priceTip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #26c0ab;
  position: relative;
  font-size: 30px;
}

.splitter .total .totalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.splitter .total .totalPrice .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splitter .total .totalPrice .text .grey {
  color: #7f9c9f;
}

.splitter .total .totalPrice .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #26c0ab;
  position: relative;
  font-size: 30px;
}

.splitter .total .btn {
  margin-top: 30px;
}

.splitter .total .btn button {
  width: 100%;
  border: none;
  background-color: #26c0ab;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #00494d;
}
/*# sourceMappingURL=main.css.map */