* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5e4e7;
  font-family: 'Space Mono', monospace;
}

.title {
  color: #5e7a7d;
  text-align: center;
  margin-top: 35px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.splitter {
  background-color: white;
  height: 120vh;
  position: relative;
  margin-top: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media (min-width: 1440px) {
  .splitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    margin: 50px auto;
    height: 60vh;
    border-radius: 30px;
  }
}

@media (min-width: 1440px) {
  .splitter .left-side {
    width: 50%;
  }
}

.splitter .left-side .bill {
  position: relative;
  top: 4%;
  left: 10%;
  width: 83%;
}

@media (min-width: 1440px) {
  .splitter .left-side .bill {
    top: 8%;
  }
}

.splitter .left-side .bill .inputBill {
  width: 100%;
  border: none;
  background-color: #f4fafa;
  border-radius: 5px;
  height: 50px;
  text-align-last: right;
  font-weight: bold;
  color: #5e7a7d;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  padding-right: 10px;
}

.splitter .left-side .bill .inputBill:focus {
  outline: none;
  border: 3px solid #26c0ab;
}

.splitter .left-side .bill img {
  position: absolute;
  padding: 16px;
}

.splitter .left-side .bill p {
  color: #5e7a7d;
  font-weight: bold;
}

.splitter .left-side .tip {
  position: relative;
  left: 10%;
  top: 8%;
  width: 83%;
}

@media (min-width: 1440px) {
  .splitter .left-side .tip {
    width: 100%;
    top: 15%;
  }
}

.splitter .left-side .tip p {
  color: #5e7a7d;
  margin-bottom: 20px;
  font-weight: bold;
}

.splitter .left-side .tip .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1440px) {
  .splitter .left-side .tip .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    left: -8%;
  }
}

.splitter .left-side .tip .buttons .change {
  background-color: #26c0ab;
  color: #00494d;
}

.splitter .left-side .tip .buttons button,
.splitter .left-side .tip .buttons .tcustom {
  width: 45%;
  height: 40px;
  margin-bottom: 23px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  border: none;
  font-size: 23px;
  border-radius: 6px;
}

@media (min-width: 1440px) {
  .splitter .left-side .tip .buttons button,
  .splitter .left-side .tip .buttons .tcustom {
    width: 25%;
    margin: 10px;
    font-size: 20px;
  }
}

.splitter .left-side .tip .buttons button {
  color: white;
  background-color: #00494d;
}

.splitter .left-side .tip .buttons .tcustom {
  text-align: right;
  padding-right: 15px;
  background-color: #f4fafa;
}

.splitter .left-side .tip .buttons .tcustom:focus {
  outline: none;
  border: 3px solid #26c0ab;
}

.splitter .left-side .people {
  position: relative;
  left: 10%;
  top: 9%;
  width: 83%;
}

@media (min-width: 1440px) {
  .splitter .left-side .people {
    top: 25%;
  }
}

.splitter .left-side .people p {
  font-weight: bold;
  color: #5e7a7d;
}

.splitter .left-side .people .inputPeople {
  width: 100%;
  border: none;
  background-color: #f4fafa;
  border-radius: 5px;
  height: 50px;
  text-align-last: right;
  font-weight: bold;
  color: #5e7a7d;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  padding-right: 10px;
}

.splitter .left-side .people .inputPeople:focus {
  outline: none;
  border: 3px solid #26c0ab;
}

.splitter .left-side .people img {
  position: absolute;
  padding: 16px;
}

.splitter .total {
  position: relative;
  left: 10%;
  top: 13%;
  width: 83%;
  color: white;
  font-weight: bold;
  background-color: #00494d;
  border-radius: 8px;
  padding: 20px;
}

@media (min-width: 1440px) {
  .splitter .total {
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .splitter .total {
    width: 46%;
    height: 88%;
    left: 1%;
    top: 6%;
    border-radius: 20px;
  }
}

.splitter .total .tipPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splitter .total .tipPerson .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splitter .total .tipPerson .text .grey {
  color: #7f9c9f;
}

.splitter .total .tipPerson .priceTip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #26c0ab;
  position: relative;
  font-size: 30px;
}

.splitter .total .totalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media (min-width: 1440px) {
  .splitter .total .totalPrice {
    margin-top: 50px;
  }
}

.splitter .total .totalPrice .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splitter .total .totalPrice .text .grey {
  color: #7f9c9f;
}

.splitter .total .totalPrice .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #26c0ab;
  position: relative;
  font-size: 30px;
}

.splitter .total .btn {
  margin-top: 30px;
}

@media (min-width: 1440px) {
  .splitter .total .btn {
    position: relative;
    top: 33%;
  }
}

.splitter .total .btn .reset {
  width: 100%;
  border: none;
  background-color: #26c0ab;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #00494d;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.splitter .total .btn .reset:hover {
  background-color: #f4fafa;
}
/*# sourceMappingURL=main.css.map */