$whiteColor:hsl(0, 0%, 100%);
$cardDarkThemeBg:hsl(228, 28%, 20%);
$redColorText:hsl(356, 69%, 56%);
$greenColorText:hsl(163, 72%, 41%);
$veryDarkBlue:hsl(230, 17%, 14%);
$DesaturatedBlue:hsl(228, 34%, 66%);
$darkGrayishBlue:hsl(228, 12%, 44%);
$LightGrayishBlue:hsl(227, 47%, 96%);