@import './colors';
@import './mixin';
@import './parameters';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.body-color {
	background-color: $whiteColor;
}
.bold {
	font-weight: bold;
}
.backgroundColorDardCard {
	background-color: $cardDarkThemeBg;
}
.redColorText {
	color: $redColorText;
}
.greenColorText {
	color: $greenColorText;
}
.whiteColor {
	color: $whiteColor;
}
.desaturatedBlue {
	color: $DesaturatedBlue;
}
.boldWithWhiteColor {
	@include boldWithWhiteColor;
}
.width100 {
	width: $hundredPercent;
}
.relative{
	position: relative;
}
body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	background-color: $veryDarkBlue;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	@media (min-width: 1440px) {
		width: 80%;
	}
	.title1 {
		padding: 30px 0;
		.darkColor {
			color: $veryDarkBlue;
		}
		p {
			padding: 7px 0 0 0;
		}
	}
	.line {
		height: 1px;
		@media (min-width: 1440px) {
			display: none;
		}
	}
	.mode {
		padding-top: 20px;
		p {
			@media (min-width: 1440px) {
				position: absolute;
				right: 16%;
				top: 4%;
			}
		}
		.switch {
			height: 100px;
			right: 50px;
			.theme-switch {
				display: inline-block;
				height: 34px;
				width: 60px;
				left: 94%;
				top: -20%;
				@media (min-width: 1440px) {
					left: 99%;
					top: -118%;
				}
				input {
					display: none;
				}
				.slider {
					background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
					position: absolute;
					bottom: 0;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					transition: 0.4s;
				}
				.slider::before {
					background-color: $veryDarkBlue;
					position: absolute;
					bottom: 4px;
					content: '';
					height: 26px;
					left: 4px;
					transition: 0.4s;
					width: 26px;
				}
				input:checked + .slider {
					background: hsl(230, 22%, 74%);
				}
				input:checked + .slider::before {
					transform: translateX(26px);
					background-color: $whiteColor;
				}
				.slider.round {
					border-radius: 34px;
				}
				.slider.round::before {
					border-radius: 50%;
				}
			}
		}
	}
	.cards {
		@media (min-width: 1440px) {
			margin-top: -85px;
			@include flex;
			flex-wrap: wrap;
			width: $hundredPercent;
			justify-content: space-between;
			cursor: pointer;
		}
		.card {
			height: 220px;
			margin: -18% 0 29%;
			border-radius: 5px;
			overflow: hidden;
			@media (min-width: 1440px) {
				width: 22%;
				margin: 0;
			}
			.line-card {
				height: 5px;
			}
			.text {
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30%;
				@media (min-width: 1440px) {
					width: $hundredPercent;
					text-align: center;
				}
				.info {
					@include flex;
					top: -14px;
					@media (min-width: 1440px) {
						left: 50%;
						top: -23px;
						transform: translateX(-20%);
					}
					p {
						padding-left: 10px;
					}
				}
				.number-follow {
					.number {
						font-size: 50px;
					}
					.light-theme-text {
						color: $veryDarkBlue;
					}
					.follow {
						text-transform: uppercase;
						letter-spacing: 4px;
					}
				}
				.how-many {
					@include flex;
					left: 22%;
					bottom: -15px;
					@media (min-width: 1440px) {
						left: 36%;
						bottom: -27px;
					}
					img {
						height: 5px;
						line-height: 17px;
						top: 6px;
						right: 8px;
					}
					.p {
						@media (min-width: 1440px) {
							color: $greenColorText;
						}
					}
				}
			}
		}
		.card:hover {
			background-color: $LightGrayishBlue;
		}
		.bg-card {
			background-color: $LightGrayishBlue;
		}
		.bg-card:hover {
			background-color: hsl(228, 33%, 84%);
		}
		.one {
			.line-card {
				background-color: hsl(208, 92%, 53%);
			}
		}
		.two {
			.line-card {
				background-color: hsl(203, 89%, 53%);
			}
		}
		.three {
			.line-card {
				background: linear-gradient(0.25turn, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
			}
			.number-follow {
				.number {
					left: 18%;
					@media (min-width: 1440px) {
						left: 0;
					}
				}
			}
		}
		.four {
			.line-card {
				background-color: $redColorText;
			}
		}
	}
	.title-second {
		.gray {
			color: $darkGrayishBlue;
		}
		h1 {
			margin: -50px 0 50px 0;
			@media (min-width: 1440px) {
				margin: 50px 0 50px;
			}
		}
	}
	.overview-cards {
		@media (min-width: 1440px) {
			@include flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.overview-card {
			height: 125px;
			border-radius: 5px;
			margin-bottom: 15px;
			@include flex;
			justify-content: space-between;
			padding: 30px;
			cursor: pointer;
			@media (min-width: 1440px) {
				width: 22%;
			}
			.left-side {
				.number-second {
					font-size: 30px;
					margin-top: 20px;
				}
				.light-theme-text {
					color: $veryDarkBlue;
				}
			}
			.right-side {
				width: 52px;
				height: $hundredPercent;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-end;
				.procent {
					@include flex;
					line-height: 5px;
					img {
						margin-right: 5px;
					}
				}
			}
		}
		.overview-card:hover {
			background-color: $darkGrayishBlue;
		}
		.bg-card {
			background-color: $LightGrayishBlue;
		}
		.bg-card:hover {
			background-color: hsl(228, 33%, 84%);
		}
	}
}