* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;
	background-color: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

.left-side {
	width: 35%;
	height: 100vh;
	.background {
		width: 100%;
		height: 100%;
		background-image: url('../images/bg-main-desktop.png');
		background-size: cover;
		.card1 {
			width: 447px;
			height: 245px;
			img {
				position: relative;
				top: 70%;
				left: 67%;
			}
			.circle1 {
				position: absolute;
				left: 18.5%;
				top: 22.5%;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: hsl(0, 0%, 100%);
			}
			.circle2 {
				position: absolute;
				top: 24%;
				left: 22.5%;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid hsl(0, 0%, 100%);
			}
			.code {
				position: absolute;
				left: 19%;
				top: 35%;
				color: hsl(0, 0%, 100%);
				letter-spacing: 2px;
				p {
					font-size: 29px;
				}
			}
			.name {
				position: absolute;
				top: 42.5%;
				left: 19%;
				color: hsl(0, 0%, 100%);
				letter-spacing: 3px;
				text-transform: uppercase;
				p {
					font-size: 12px;
				}
			}
			.small-code {
				position: absolute;
				top: 42.5%;
				left: 37.2%;
				color: hsl(0, 0%, 100%);
				p {
					font-size: 12px;
				}
			}
		}
		.card2 {
			position: relative;
			top: 24%;
			left: 64%;
			.cvc {
				position: absolute;
				top: 44.7%;
				left: 57%;
				color: hsl(0, 0%, 100%);
				p {
					font-size: 13px;
					letter-spacing: 2px;
				}
			}
		}
	}
}

.right-side {
	.none{
		display: none;
	}
	.block{
		display: block;
	}
	position: absolute;
	top: 21%;
	width: 34%;
	height: 55%;
	right: 12%;
	.form {
		width: 100%;
		height: 100%;
		
		.name {
			position: relative;
			top: 14%;
			left: 6%;
			p {
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: 1px;
				margin-bottom: 10px;
				color: hsl(278, 68%, 11%);
				font-weight: bold;
			}
			input {
				width: 61%;
				height: 44px;
				border-radius: 11px;
				padding: 10px;
				border: 1px solid hsl(270, 3%, 87%);
			}
			input::placeholder {
				color: hsl(270, 3%, 87%);
				font-size: 15px;
				font-weight: bold;
			}
		}
		.number {
			position: relative;
			left: 6%;
			top: 20%;
			.wrong {
				color: hsl(0, 100%, 66%);
				font-weight: normal;
				text-transform: none;
				margin-top: 5px;
				
			}
            .none{
                display: none;
            }
            .block{
                display: block;
            }
			p {
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: 1px;
				margin-bottom: 10px;
				color: hsl(278, 68%, 11%);
				font-weight: bold;
			}
			input {
				width: 61%;
				height: 44px;
				border-radius: 11px;
				padding: 10px;
				border: 1px solid hsl(270, 3%, 87%);
			}
			input::placeholder {
				color: hsl(270, 3%, 87%);
				font-size: 15px;
				font-weight: bold;
			}
		}
		.dateCvc {
			position: relative;
			left: 6%;
			top: 26%;
			display: flex;
			flex-direction: row;
			width: 61%;

			.date {
				p {
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 1px;
					margin-bottom: 10px;
					color: hsl(278, 68%, 11%);
					font-weight: bold;
				}
				input {
					width: 33%;
					height: 35px;
					padding: 10px;
					border-radius: 9px;
					border: 1px solid hsl(270, 3%, 87%);
				}
				input::placeholder {
					color: hsl(270, 3%, 87%);
					font-size: 15px;
					font-weight: bold;
				}
				.wrong {
					margin-top: 5px;
					color: hsl(0, 100%, 66%);
					font-weight: normal;
					text-transform: none;
					display: none;
				}
			}
			.cvc {
				p {
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 1px;
					margin-bottom: 10px;
					color: hsl(278, 68%, 11%);
					font-weight: bold;
				}
				input {
					height: 35px;
					padding: 10px;
					border-radius: 9px;
					border: 1px solid hsl(270, 3%, 87%);
				}
				input::placeholder {
					color: hsl(270, 3%, 87%);
					font-size: 15px;
					font-weight: bold;
				}
				.wrong {
					color: hsl(0, 100%, 66%);
					font-weight: normal;
					text-transform: none;
					margin-top: 5px;
				}
			}
		}
		.btn {
			position: relative;
			left: 6%;
			top: 30%;
			width: 100%;
			button {
				width: 61%;
				height: 50px;
				border-radius: 9px;
				background-color: hsl(278, 68%, 11%);
				color: hsl(270, 3%, 87%);
                cursor: pointer;
				p {
					font-size: 15px;
					letter-spacing: 1px;
				}
			}
		}
	}
	.complete{
		width: 100%;
		height: 100%;
		.icon{
			height: 40%;
			img{
				position: relative;
				left: 50%;
				top: 58%;
				transform: translateX(-50%);
			}
		}
		.text{
			text-align: center;
			h1{
				text-transform: uppercase;
				color: hsl(278, 68%, 11%);
				margin-top: 27px;
				letter-spacing: 2px;
				font-weight: lighter;
			}
			p{
				color: hsl(279, 6%, 55%);
				margin-top: 20px;
			}
		}
		.button{
			margin-top: 30px;
			text-align: center;
			button{
				background-color: hsl(278, 68%, 11%);
				color: hsl(270, 3%, 87%);
				width: 70%;
				height: 50px;
				border-radius: 8px;
				letter-spacing: 1px;
				font-size: 15px;
			}
		}
	}
}
