* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(27, 66%, 92%);
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
}

.box {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box .upper-belt {
	background-color: hsl(10, 79%, 65%);
	width: 500px;
	height: 100px;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}

.box .upper-belt .left-side {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.box .upper-belt .left-side .text {
	position: absolute;
	left: 5%;
	top: 15%;
	color: white;
}
.price {
	margin-top: 10px;
	font-weight: bold;
	font-size: 25px;
}
.circle1 {
	border: 3px solid #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 58px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	z-index: 1;
}
.circle2 {
	position: absolute;
	right: 34px;
	top: 50%;
	background-color: hsl(25, 47%, 15%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform: translateY(-50%);
}

.main-content {
	background-color: #fff;
	margin-top: 15px;
	border-radius: 15px;
	height: 450px;
	overflow: hidden;
}

.main-content .title {
	padding: 20px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: 'DM Sans', sans-serif;
}

.diagrams {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	width: 100%;
	position: absolute;
	top: 30%;
	padding: 0px;
	height: 40%;
}

.effect:hover {
	background-color: rgba(255, 68, 0, 0.267);
}
.blue-diag:hover {
	background-color: hsl(186, 34%, 60%);
}
.diag1 {
	height: 50px;
}
.diag2 {
	height: 90px;
}
.diag3 {
	height: 120px;
}
.diag4 {
	height: 70px;
	background-color: hsl(186, 34%, 60%);
}
.diag5 {
	height: 50px;
}
.diag6 {
	height: 100px;
}
.diag7 {
	height: 60px;
}
.diagrams p {
	text-align: center;
}
.bottom-main {
	position: absolute;
	bottom: 27px;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.bottom-main .left-side {
	width: 50%;
}
.bottom-main .left-side .text {
	margin-left: 10px;
}
.total {
	color: gray;
}
.money {
	color: #000;
	font-weight: bold;
	font-size: 30px;
}

.bottom-main .right-side {
	width: 50%;
	margin-top: 14px;
}
.bottom-main .right-side .text {
	position: relative;
	right: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.procent {
	font-weight: bold;
	color: #000;
}

.style-diag {
	background-color: hsl(10, 79%, 65%);
	width: 40px;
	border-radius: 5px;
	margin: auto;
}
.day-cost {
	background-color: #000;
	color: white;
	margin-bottom: 15px;
	border-radius: 4px;
	padding: 7px;
	display: none;
}
.hover:hover .day-cost {
	display: block;
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
	.box {
		position: absolute;
		top: 59%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		height: 100vh;
	}
	.box .upper-belt {
		width: 340px;
		margin: 0 auto;
	}
	.main-content {
		width: 340px;
		margin: 34px auto 0;
		height: 386px;
	}
	.main-content .diagrams {
		width: 81%;
		top: 18%;
		left: 50%;
		transform: translateX(-50%);
	}
	.bottom-main {
		top: 55%;
		width: 90%;
		height: 23%;
	}
	.bottom-main .left-side .text {
		position: relative;
		top: 30%;
	}
	.style-diag {
		width: 32px;
	}
	.bottom-main .right-side .text {
		top: 40%;
	}
}
