@import './colors';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 16px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.none {
	display: none;
}
.bg-white {
	background-color: $white;
}
.main-color {
	background-color: $main-color;
}
.very-light-gray {
	background-color: $very-light-gray;
}
.space-between {
	justify-content: space-between;
}
.pointer {
	cursor: pointer;
}
nav {
	width: 100%;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	@media (min-width: 1440px) {
		padding: 0 150px;
	}
	.left-side {
		line-height: 70px;
		@media (min-width: 1440px) {
			line-height: 89px;
		}
		img {
			height: 15px;
			margin: 30px 0 0 0;
			padding-right: 15px;

			@media (min-width: 1440px) {
				display: none;
			}
		}
		h1 {
			font-size: 30px;
			letter-spacing: -1px;
		}
		.nav-item {
			display: none;
			width: 500px;
			margin-left: 5%;
			@media (min-width: 1440px) {
				display: block;
			}
			ul {
				list-style: none;
				height: 91px;
				li {
					a {
						text-decoration: none;
						color: #68707d;
					}
				}
				li:hover {
					border-bottom: 4px solid hsl(26, 100%, 55%);
				}
				li:hover a {
					color: hsl(0, 0%, 0%);
					font-weight: bold;
				}
			}
		}
	}
	.right-side {
		img {
			height: 25px;
			margin: auto;
			padding-left: 25px;
			@media (min-width: 1440px) {
				height: 43px;
			}
		}
		.icon-cart {
			height: 23px;
		}
	}
}
hr {
	display: none;
	@media (min-width: 1440px) {
		display: block;
		width: 79.5%;
		margin: 0 auto;
		margin-top: 22px;
	}
}
.enlarged-photo {
	.shadow {
		background-color: rgb(0 0 0 / 50%);
		width: 100vw;
		height: 100vh;
		z-index: 10;
		position: absolute;
		top: 0;
	}
	.close {
		position: relative;
		width: 50%;
		height: 50px;
		margin: 0 auto;
		.close-photos {
			position: relative;
			width: 3%;
			height: 40%;
			top: -45%;
			left: 79.5%;
			filter: invert(100%) brightness(157%) contrast(173%);
			z-index: 12;
		}
		.close-photos:hover {
			filter: invert(66%) sepia(86%) saturate(3354%) hue-rotate(357deg) brightness(132%) contrast(152%);
		}
	}
	.image {
		position: absolute;
		z-index: 15;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		width: 463px;
		height: 463px;
		img {
			z-index: 15;
			width: 100%;
			height: 100%;
			border-radius: 22px;
		}
	}
	.move-image {
		position: absolute;
		top: 41%;
		width: 36%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 123;
		.left,
		.right {
			border-radius: 50%;
			height: 50px;
			width: 50px;
			img {
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: filter 0.3s;
			}
		}
		.left:hover img,
		.right:hover img {
			filter: invert(66%) sepia(86%) saturate(3354%) hue-rotate(357deg) brightness(132%) contrast(152%);
		}
	}
	.thumbnails {
		width: 28%;
		position: absolute;
		top: 79%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;

		img {
			width: 18%;
			border-radius: 10px;

			transition: filter 0.5s;
		}
		img:hover {
			filter: contrast(0.5) brightness(1.7);
			border: 3px solid hsl(26, 100%, 55%);
		}
	}
}

main {
	overflow: hidden;

	@media (min-width: 1440px) {
		padding: 0 150px;
		display: flex;
		flex-direction: row;
		height: 660px;
	}
	.side-menu {
		width: 70%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		padding: 30px;
		transform: translateX(-100%);
		transition: 0.5s;
		.menu-item {
			padding-top: 30px;
			ul {
				list-style: none;
				line-height: 45px;
				li {
					a {
						text-decoration: none;
						font-weight: bold;
						color: hsl(0, 0%, 0%);
						font-size: 20px;
					}
				}
			}
		}
	}
	.amount {
		position: absolute;
		right: 17%;
		top: 3%;
		height: 13px;
		width: 21px;
		border-radius: 8px;
		line-height: 13px;
		@media (min-width: 1440px) {
			right: 14.5%;
			top: 2.5%;
		}
		p {
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			color: hsl(0, 0%, 100%);
		}
	}
	.move-sideMenu {
		transform: translateX(0);
	}

	.hide {
		display: none;
	}
	.img {
		height: 340px;
		overflow: hidden;
		width: 500vw;
		@media (min-width: 1440px) {
			width: 33%;
			height: 100%;
			position: relative;
			top: 115px;
			overflow: visible;
			margin-left: 6%;
			.slider {
				.repeat {
					display: none;
					@media (min-width: 1440px) {
						display: block;
						position: absolute;
						bottom: 25%;
						width: 20%;
						left: 0;

						img {
							border-radius: 10px;
						}
					}
				}
				.two,
				.three,
				.four {
					position: absolute;
					bottom: 25%;
					width: 20%;
				}
				.one {
					width: 100%;
					img {
						border-radius: 15px;
					}
				}
				.two {
					left: 27%;
					img {
						border-radius: 10px;
					}
				}
				.three {
					right: 27%;
					img {
						border-radius: 10px;
					}
				}
				.four {
					right: 0;
					img {
						border-radius: 10px;
					}
				}
				.two,
				.repeat,
				.four,
				.three {
					img:hover {
						filter: opacity(0.5);
					}
				}
				.clicked {
					border: 3px solid hsl(26, 100%, 55%);
				}
			}
		}
		.move {
			transform: translateX(-750px);
		}
		.move2 {
			transform: translateX(-1500px);
		}
	}
	.icon {
		width: 27%;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.next {
		border-radius: 50%;
		position: absolute;
		right: 4%;
		top: 35%;
		width: 11%;
		height: 6%;
		cursor: pointer;
		@media (min-width: 1440px) {
			display: none;
		}
	}
	.prev {
		border-radius: 50%;
		position: absolute;
		top: 35%;
		left: 4%;
		width: 11%;
		height: 6%;
		cursor: pointer;
		@media (min-width: 1440px) {
			display: none;
		}
	}
	.cart {
		position: absolute;
		top: 13%;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		height: 44%;
		border-radius: 15px;
		z-index: 1;
		@media (min-width: 1440px) {
			position: absolute;
			top: -17%;
			left: 260%;
			box-shadow: -8px 13px 20px -6px #000;
			height: 40%;
		}
		p {
			padding: 25px;
			font-weight: bold;
		}
		.empty {
			text-align: center;
			padding-top: 68px;
			color: hsl(219, 9%, 45%);
		}
		.hr {
			margin-top: 4px;
			width: 100%;
		}
		.has-item {
			display: flex;
			flex-direction: row;
			height: 75%;

			.cart-image {
				width: 15%;
				height: 25%;
				border-radius: 7px;
				position: relative;
				top: 12%;
				left: 7%;
			}
			.text {
				display: flex;
				flex-direction: column;
				position: relative;
				left: 4%;
				.price {
					font-weight: normal;
					margin-top: -17%;
					color: hsl(219, 9%, 45%);
				}
				.text-change {
					margin-top: 2%;
					font-weight: normal;
					color: hsl(219, 9%, 45%);
					@media (min-width: 1440px) {
						display: none;
					}
				}
				.desktop {
					display: block;
					margin-top: 2%;
					@media (max-width: 1439px) {
						display: none;
					}
				}
				.total-price {
					font-weight: bold;
					color: hsl(0, 0%, 0%);
				}
				.dolar {
					font-weight: bold;
					color: hsl(0, 0%, 0%);
				}
			}
			.delete {
				position: relative;
				top: 20%;
				right: -4%;
				height: 20px;
				@media (min-width: 1440px) {
					top: 18%;
					right: 0%;
				}
				img {
					cursor: pointer;
				}
			}
			.btn {
				position: absolute;
				bottom: 10%;
				width: 100%;
				text-align: center;
				button {
					width: 88%;
					height: 50px;
					border-radius: 10px;
					border: none;
					p {
						position: relative;
						text-align: center;
						top: -13%;
						font-weight: bold;
						color: hsl(0, 0%, 100%);
						font-family: 'Kumbh Sans', sans-serif;
						letter-spacing: 1px;
					}
				}
			}
		}
		.none {
			display: none;
		}
	}
	.none {
		display: none;
	}
}
.text-main {
	width: 90%;
	margin: 0 auto;
	@media (min-width: 1440px) {
		padding: 105px 31px 0 58px;
		width: 50%;
	}
	.orange {
		color: hsl(26, 100%, 55%);
		font-weight: bold;
		font-size: 15px;
		padding: 23px 0;
		text-transform: uppercase;
	}
	h1 {
		margin: -7px 0 0 0;
		padding-bottom: 15px;
		@media (min-width: 1440px) {
			font-size: 42px;
		}
	}
	.text {
		p {
			color: hsl(219, 9%, 45%);
			font-size: 15px;
			@media (min-width: 1440px) {
				font-size: 16px;
				line-height: 28px;
			}
		}
	}
	.prices {
		font-weight: bold;
		padding-top: 25px;
		@media (min-width: 1440px) {
			justify-content: flex-start;
			align-items: center;
		}
		.main {
			font-size: 25px;
		}
		.promo {
			background-color: hsl(25, 100%, 94%);
			width: 50px;
			height: 25px;
			border-radius: 6px;
			text-align: center;
			line-height: 25px;
		}
		.old {
			text-decoration: line-through;
			color: hsl(220, 14%, 75%);
			@media (min-width: 1440px) {
				position: relative;
				bottom: -36px;
				left: -28.5%;
			}
		}
	}
	.how-many {
		text-align: center;
		margin: 20px 0 20px;
		@media (min-width: 1440px) {
			position: relative;
			top: 8%;
			width: 27%;
			left: -6px;
		}
		.minus {
			position: absolute;
			left: 5%;
			height: 50px;
			width: 85px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			line-height: 41px;
			cursor: pointer;
			@media (min-width: 1440px) {
				width: 25%;
			}
		}
		.plus {
			position: absolute;
			right: 5%;
			height: 50px;

			width: 85px;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
			line-height: 47px;
			cursor: pointer;
			@media (min-width: 1440px) {
				width: 25%;
			}
		}
		input {
			width: 50%;
			height: 50px;
			border: none;

			text-align: center;
			font-weight: bold;
			color: hsl(0, 0%, 0%);
			font-size: 18px;
			outline: none;
		}
		input::placeholder {
			text-align: center;
			font-weight: bold;
			color: hsl(0, 0%, 0%);
			font-size: 18px;
		}
	}
	.btn {
		@media (min-width: 1440px) {
			position: relative;
			top: -4.5%;
			left: 28%;
			width: 57%;
		}
		button {
			border: none;
			border-radius: 10px;
			width: 100%;
			height: 50px;
			cursor: pointer;
			@media (min-width: 1440px) {
				width: 100%;
			}
			p {
				color: hsl(0, 0%, 100%);
				font-weight: bold;
				font-size: 15px;
				line-height: 50px;
			}
			img {
				position: relative;
				left: -3%;
				top: 4px;
				filter: brightness(0) invert(1);
			}
		}
		button:hover {
			filter: opacity(0.5);
			box-shadow: 2px 13px 20px #ffede0;
		}
	}
}
