* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}

.card{
    background-color:hsl(244, 38%, 16%);
    width: 80vw;
    height: 93vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    overflow: hidden;
    z-index: 0;
}
.card .image img{
    width: 100%;
    z-index: 1;
}

.title{
    color: hsl(0, 0%, 100%);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
h2{
    font-size: 30px;
}
.title span{
    color: hsl(277, 64%, 61%);
}
.text{
    margin-top: 20px;
}
.text p{
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
}
.footer{
    color: hsl(0, 0%, 100%);
    width: 40%;
    margin: 0 auto;
    height: 27%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 12px;
}
.footer p{
    text-transform: uppercase;
}

.footer .info{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: -10px;
}
.footer .number{
    font-size: 19px;
}

@media only screen and (min-width:375px) and (max-width:413px){
    .main .title h2{
        font-size: 25px;
    }
    .main .text p{
        font-size: 14px;
    }
    .footer{
        justify-content: center;
    }
    .footer .info{
        margin-top: 5px;
    }
    .footer .number{
        margin-top: 10px;
    }
}